section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    margin-top: 30px;

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            text-transform: uppercase;
            font-weight: 1000;
            font-size: 25px;
            color: #ffffff;
            margin-bottom: 20px;
        }
        h1{
            text-transform: uppercase;
             background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgb(4, 187, 141) 7%, rgb(9, 248, 81) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            display: inline-block;
            font-size: 40px;
            margin: 0;
            margin-bottom: 10px;
          }
          
        p{
            font-weight: 400;
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 20px;
        }
    } 
    }

@media (min-width: 1080px) {
    

    section {
        flex-direction: row;
        justify-content: space-between;

        .main-content {
            align-items: flex-start;
            max-width: 50%;

        
        }

        .imgprinc {
            width: 500px;
        }

        h1 {
            font-size: 56px;
        }
    }

  
}
    

.imgprinc {
    width: 298px;
}