<section>
    <div class="main-content">
        <h1>Quem sou?</h1>
        <p>Me chamo Vítor, nascido em 2000, formado em Análise e desenvolvimento de sistemas, apaixonado por tecnologia, atualmente atuo como freelancer. Focado em desenvolvimento Backend e conhecimento em Móbile (Android Nativo), gosto de inovações e aceitar desafios que me tiram da zona de conforto pois tenho como principal objetivo criar soluções com propósito de aumentar positivamente a qualidade de vida das pessoas através da tecnologia.</p>
        <a href="https://drive.usercontent.google.com/u/0/uc?id=1xc9qtTlnZ-FONqjnpOxOP9eYQpn97E66&export=download" target="_blank">
        <btn-primary text="Download CV"></btn-primary>
    </a>
    </div>
    <img src="assets/img/foto.png" class = "imgprinc">
</section>