section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  
  
    span {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
    }
  }
    .mat-elevation-z4 {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
    
  }

    
  .card {
    margin: 10px;
  }
  
  
  @media (min-width: 1080px) {
   

    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 12px;
    
    
      span {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
      }
    }
    
  
    .mat-elevation-z4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 30px;
      background-color: rgba(43, 43, 43, 0.541);
      border-radius: 3%;

    }
    mat-card-subtitle {
      font-size: 20px;
      text-transform: uppercase;
      color: #ffffff
    }

    .languages_span{
      font-size: 15px;
      margin-right: 10px;
      border-radius: 20%;
      background-color:  rgb(9, 248, 81);

    }

    mat-card-content {
      color: #ffffff;
      font-family:'Times New Roman', Times, serif;
    }
  
    .card {
      width: calc(50% - 20px);
      margin: 10px;
    }

    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }